* {
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "Neue Machina", sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a,
button {
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

.hidden-element {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 320px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 834px) {
  .container {
    width: 834px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1220px) {
  .container {
    width: 1220px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 45px auto;
  }
}

:root {
  --accent-color: #3f9c14;
  --text-color: #eaeaea;
  --bg-color: #181818;
}
@font-face {
  font-display: swap;
  font-family: Neue Machina;
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/NeueMachina-400.ttf) format("truetype");
}
@font-face {
  font-display: swap;
  font-family: Neue Machina;
  font-style: normal;
  font-weight: 500;
  src: url(./fonts/NeueMachina-500.ttf) format("truetype");
}
@font-face {
  font-display: swap;
  font-family: Neue Machina;
  font-style: normal;
  font-weight: 700;
  src: url(./fonts/NeueMachina-700.ttf) format("truetype");
}
@font-face {
  font-display: swap;
  font-family: Neue Machina;
  font-style: normal;
  font-weight: 900;
  src: url(./fonts/NeueMachina-900.ttf) format("truetype");
}
